<div class="site-wrapper">  
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Angular App</h3>
        </div>
      </div>
      <div class="inner cover">
          <router-outlet></router-outlet>
      </div>
      <div class="mastfoot">
        <div class="inner">
          <p>Angular app by <a href="https://github.com/HichamGS">@hichamAJ</a>.</p>
        </div>
      </div>
    </div>
  </div>  
</div>